.cart-icon{
    color: #FFF;
    font-size: xx-large;
    cursor: pointer;
}

.filter-icon{
    color: #FFF;
    font-size: xx-large;
    cursor: pointer;
}
.card-img{
    height: 30vh;
    width: 30vh;
    object-fit:contain
}
.lang-icon{
    color: #FFF;
    font-size: xx-large;
    cursor: pointer;
}
.yellow-star{
    color: #ffe234;
    font-size: large;
}
.star{
    color: rgba(128, 128, 128, 0.603);
    font-size: large;
}
.sign-out{
    color: #FFF;
    font-size: xx-large;
    cursor: pointer;
}